*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: #1eb2a6;
    color: #fff;
    height: 120vh;
    width: 300px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 10px;
}
/* .logo{
    font-size: 20px;
} */
.ict{
    padding-top: 15px;
    padding-left: 5px;
    font-size: 18px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 30px;
}
.link{
    margin-top: 50px;
    display: flex;
    color: #fff;
    padding: 10px 15px;
    padding-bottom: 25px;
    gap: 20px;
    transition: all 0.5s;
    /* padding-left: 30px; */
}
.link:hover{
    background:#ffffff4d;
    color: #fff;
    transition: all 0.5s;
}
.active{
    background: #ffffff4d;
    color: #fff;
}
.icon, .link_text{
    font-size: 20px;
}
